<h1>This is My home page...</h1>

<div class="container">
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let item of FOOTWEAR">
        <div class="card" style="width: 18rem;">
            <img [src]="item.imageUrl"  class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Add To Cart</a>
            </div>
      </div>
      </div>
    </div>
  </div>

<!-- <button type="submit" class="btn btn-primary" (click)="Logout()">LogOut</button> -->