.editIcon{
    font-size: 31px;
    margin-right: 10px;
    // border: 2px solid;
    height: 34px;
    width: 36px;
    cursor: pointer;
}

.DeleteIcon{
    cursor: pointer;
    // color: plum;
}
h2{
    color: #2f8799;
}
.btn{
    // background: #bbd8e1;
    background: #2f8799;
    font-weight: bold;
    color: white;
}
tr th{
    // background: #bbd8e1;
    background: #2f8799;
    color: white;
}