.homeImage{
     background-image: url("../../../assets/bg2.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 100vh;
}
.homeImage2{
     background-image: url("../../../assets/bg3.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 74vh;

}
.homeHeading{
    color: #134174;
    font-weight: bold;
}
.addToCartBtn{
    background-color:rgb(23 79 140);
    color: white;
}
.btn{
    background-color: rgb(23 79 140);
    color: white;
}