@import 'ngx-toastr/toastr';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

form{
    width: 35%;
    border-radius: 6px;
    background: white;
   // border: 1px solid black;
    padding: 15px;
    box-shadow: 0 0 10px rgb(12 11 11 / 28%);
}

.form-control{
    border: none;
    border-bottom: 2px solid #1a1b1d;;
    color: black;
}

h2{
    font-family: fantasy;
}

.btn-country{
    width: 45%;
    margin-right: 8px;
}
.btn-state{
    width: 45%;
}
// #firstName{
//    width:48%;
//    margin: 0px 8px ;
// }
// #lastName{
//    width:48%;
  
// }