.homeImage{
    background-image: url("../../../assets/bg4.png");
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center center;
       height: 74vh;

}
.homeHeading{
   color: rgb(211 114 85 / 88%);
   font-weight: bold;
}
.addToCartBtn{
   background-color:rgb(211 114 85 / 88%);
   color: white;
}
.btn{
   background-color: rgb(211 114 85 / 88%);
   color: white;
}