@import 'ngx-toastr/toastr';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

h2{
    font-family: fantasy;
}

html, body { height: 100%; }
body { margin: 0; font-family: auto, "Helvetica Neue", sans-serif; }



// https://dribbble.com/tags/product-card
// https://www.jdomni.com/ecommerce-themes/men-fashion-and-clothing-template