h2{
    color: #3086a4;
}
.btn{
    // background: #bbd8e1;
    background: #2f8799;
    font-weight: bold;
    color: white;
}
tr th{
    // background: #bbd8e1;
    background: #2f8799;
    color: white;
}
.removecartBtn  :hover{
 background-color: red;
 border: 2px solid black ;
 border-radius: 50%;
 color: white;
}
.cross{
    color: #cf1b1bb8;
} 
.cross:hover{
 color: white;
}