.addToCartBtn{
    background-color: #b85e5ebd;
    color: white;
}
.btn{
    background-color: #b85e5ebd;
    color: white;
}
.homeImage2{
    background-image: url("../../../assets/bg1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}
.homeHeading{
    color: #b85e5ebd;
    font-weight: bold;
}